* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility */
.d-flex {
    display: flex;
}

.w-80{
    width: 80%;
}

.w-50 {
    width: 50%;
}

.w-30 {
    width: 30%;
}
.w-25 {
    width: 25%;
}

.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}




/* Style */
body {
    font-family: "Inter";
}

header {
    background-color: #ff6900;
    color: white;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.head-container{
    margin: 0 auto;
}

.head-menu li {
    list-style-type: none;
    display: inline-block;
    margin-right: 5px;
}

.head-menu li a{
    text-decoration: none;
    color: white;
    transition: .3s;
}

.head-menu li a:hover{
    color: black;
}

.logo {
    width: 100px;
}

.head-btn a{
    text-decoration: none;
    color: white;
    transition: .3s;
}

.head-btn a:hover{
    color: black;
}

.head-icon {
    margin-left: 5px;
}

main {
    padding: 200px 0;
}

.container {
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 20px;
}

.product {    
    position: relative;
}

.product:hover .neutral{
    display: none;
}

.product:hover .active{
    display: block;
}

.product-img {
    width: 100%;
}

.neutral{
    display: block;
}

.active{
    display: none;
}

.favorite{
    padding:  20px;
    background-color: #fff;
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 0;
}

.favorite:hover .heart{
    color: red;
}

.tag-container {
    position: absolute;
    left: 0;
    top: 650px;
}

.tag {
    padding: 2px 5px;
    margin-right: 5px;
    color: white;
}

.discount {
    background-color: red;
}

.badge {
    background-color: green;
}

.brand {
    color: gray;
    font-size: 14px;
}

.product-name {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

.actual-prize {
    display: inline-block;
    color: red;
    font-weight: 600;
    font-size: 14px;
}

.old-prize {
    display: inline-block;
    text-decoration: line-through;
    font-size: 14px;
}